<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.liuwen.mapper.AccountMapper">
    <insert id = "save" parameterType="com.liuwen.entity.Account">
          insert into t_account(username, password, age) value (#{username},#{password},#{age})
    </insert>
</mapper>

